# Dependency directories
node_modules/

# Production build folder
build/

# IDE and OS files
.idea/
.vscode/
*.iml
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git files
.git
.gitignore
